/* stylesheet.css */

#input-container {
      width: calc(100vw - 50px);
      margin: 0 25px;
}

#input-container>* {
      font-size: 150%;
}

#github-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 20px;
      bottom: 20px;
}